#
# This is the configuration file for miner-boot. It should be configured automatically by install_miner-boot.sh
#


#
##
### General
##
#

# Path to miner-boot repository
MB_PWD="/opt/miner-boot"




#
##
### GPU Miner DL URL's
##
#

# lolMiner download URL (binary)
LOL_DL_LOC="https://github.com/Lolliedieb/lolMiner-releases/releases/download/1.51a/lolMiner_v1.51a_Lin64.tar.gz"
LOL_DL_TYPE="binary"

# Wildrig-multi download URL (github source)
WILDRIG_DL_LOC="https://github.com/andru-kun/wildrig-multi/releases/download/0.31.3/wildrig-multi-linux-0.31.3.tar.xz"
WILDRIG_DL_TYPE="binary"




#
##
### CPU Miner DL URL's
##
#

# xmrig download URL (github source)
XMRIG_DL_LOC="https://github.com/xmrig/xmrig.git"
XMRIG_DL_TYPE="source"
XMRIG_DISABLE_DONATE=true




